      <!-- Jumbotron -->
      <div class="jumbotron">
          <div class="container" >
              <div class="row">
                  <div class="col-md-12">
                      <img src="/img/graohisca_img.png" style="width:10%" >
                      <h1>GRAFISKA</h1>
                  </div>
              </div>
          </div>
      </div>
      <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin pretium tempus. In hac habitasse platea dictumst. Suspendisse potenti. Mauris aliquam sollicitudin lectus, vitae gravida magna. Suspendisse sodales tortor ac tempus blandit. Nam porta aliquet justo, vel tincidunt mi blandit eget. Maecenas egestas mauris molestie interdum vulputate. Nam sit amet sapien quis ligula varius sagittis nec non nisi. In rhoncus bibendum arcu eget cursus. Etiam convallis, est ut maximus maximus, elit magna bibendum erat, quis condimentum risus augue vitae erat. Vivamus iaculis mauris magna, eget tristique nunc iaculis vel. Vivamus turpis mi, pretium vel purus quis, egestas tempus tellus. Donec nec feugiat risus. Vestibulum luctus, orci a interdum commodo, dolor felis venenatis risus, vel maximus ex leo ut neque. Vivamus eu eros vel tortor porttitor faucibus vel quis massa.</p>
                    <p>Nullam eu lectus ligula. Nam iaculis mi ut urna scelerisque facilisis. Quisque auctor nisi id tellus tincidunt dapibus. Pellentesque imperdiet convallis turpis, sit amet convallis turpis. Aliquam mi ante, efficitur vel suscipit fringilla, dapibus sit amet elit. Praesent rutrum nibh at justo molestie semper. Pellentesque molestie malesuada felis quis dictum. Quisque sed dolor quis purus gravida vestibulum. </p>
                </div>
            </div>  
      </div>
