<!-- Jumbotron -->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img ng-src="img/{{services[0].image}}"/>
        </div>
        <div class="col-md-8">
            <h1>GRAFISKA</h1>
            <p class="lead">If your small or medium sized business needs a website, we can help. If you are in need of more than just web design, we have solutions for you. Our services range from custom WordPress design and development to logo design and visual branding and beyond. </p>
        </div>
    </div>

</div>
         

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4"  ng-repeat="service in services">
        <h2>{{service.name}}</h2>
        <p>{{service.description}}</p>
    </div>
</div>